<%= turbo_frame_tag "urls-table" do %>
  <div id="urls-table" class="overflow-x-auto">
    <% if urls.present? && urls.any? %>
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50 hidden md:table-header-group">
          <tr>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Title</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Original URL</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider w-[30%]">Short URL</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Actions</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <%= render partial: "urls/url", collection: urls %>
        </tbody>
      </table>
    <% else %>
      <p class="text-center py-4">No URLs have been shortened yet.</p>
    <% end %>
  </div>
<% end %>
